*{ margin: 0%;
    padding: 0%;
}
body{
    width: 100%; 
    height: 100vh;
}
    
main{
    /* background: #ffffff; */
     border-radius: 10px;
     padding: 60px;
     position: relative;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     align-items: center;   
     font-family: "Poppins" , sans-serif;
 }
 h3{
     top: 50%;
     left: 50%;
     transform: translate(3%, 700%);
     background: #4c4c61;
     border-radius: 10px;
    
 }